# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# JS
node_modules/
typings/
*.js.map
# ignore *.png only in this directory
/*.png
npm-debug.log
